<div class="container">
	<h1>Homepage</h1>
	<div class="form">
		<form id="invoer" action="/werven" method="post">
			<div>
				<label for="datumValue">Datum:</label>
				<input type="date" id="datumValue" placeholder="xx/xx/xxxx" name="datumValue" />
			</div>
			<div>
				<label for="werfValue">Werf:</label>
				<input type="text" id="werfValue" placeholder="Werfnaam" name="werfValue" />
			</div>
			<div>
				<label for="beginuurValue">Beginuur:</label>
					<input type="time" id="beginuurValue" placeholder="xx:xx" name="beginuurValue" />
			</div>
			<div>
				<label for="einduurValue">Einduur:</label>
				<input type="time" id="einduurValue" placeholder="xx:xx" name="einduurValue" />
			</div>
			<div>
				<label for="naamValue">Naam:</label>
					<input type="text" id="naamValue" placeholder="Naam" name="naamValue" />
			</div>
			<div>
				<label for="testValue">placeholder:</label>
				<input type="text" id="testValue" placeholder="test" name="testValue" />
			</div>
			<div class="doorgevenButton">
				<button type="submit">Doorgeven</button>
			</div>
		</form>
	</div>
	<div class="tijden-grid">

			<p class="tijden-item-grid">0: </p>
			<p class="tijden-item-grid">Datum </p>
			<p class="tijden-item-grid">Werf </p>
			<p class="tijden-item-grid">Beginuur </p>
			<p class="tijden-item-grid">Einduur </p>
			<p class="tijden-item-grid">Naam </p>
			<p class="tijden-item-grid">Uren </p>
		
		{{#each werftijden}}
		
			<p class="tijden-item-grid">{{id}}: </p>
			<p class="tijden-item-grid">{{Datum}} </p>
			<p class="tijden-item-grid">{{Werf}} </p>
			<p class="tijden-item-grid">{{Beginuur}} </p>
			<p class="tijden-item-grid">{{Einduur}} </p>
			<p class="tijden-item-grid">{{Naam}} </p>
			<p class="tijden-item-grid">{{Uren}} </p>
		
		{{/each}}	

	</div>
</div>